/* FIND */
#find-profiles-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px auto 0 auto;
  padding-bottom: 0;
}
#profile-search-form {
  width: 79%;
}
#find-results {
  margin-top: 5%;
  margin-left: 7%;
  margin-bottom: 4%;
}
#find-results-item {
  background-color: #fcfcfc;
}
#find-results-item:hover {
  transition-duration: 0.45s;
  background-color: #f7f7f7;
  box-shadow: 2px 6px 8px 4px rgba(0, 0, 0, 0.2);
}
#find-clear-search {
  margin-left: 8%;
}
.find-grey-line {
  width: 79%;
  height: 2px;
  background-color: grey;
}
#username-search {
  width: 79%;
}
#find-search-card {
  padding: 10px 40px 40px 40px;
  margin-top: 5%;
  margin-left: 2%;
  width: 100%;
}
#find-title {
  margin-top: 5%;
  padding-bottom: 10px;
}
/* HOME  --------------------- */
#home-find-people {
  width: 80%;
  margin: 22% auto 0 auto;
  text-align: center;
}

#feed-no-posts {
  text-align: center;
}
.threads-container {
  margin-top: 18%;
  margin-left: 10%;
  width: 90%;
}
#threads-logo {
  color: grey;
}
#threads-title {
  text-align: center;
}
#feed-profile-prompt {
  text-align: center;
}
.post-grey-line {
  width: 2px;
  background-color: #f2f2f2;
  margin-left: 40px;
}
#post-date {
  font-size: 12px;
}
#posts-load {
  margin-top: 15px;
  margin-bottom: 10px;
}
#posts-load-icon:active {
  transform: rotate(135deg);
  transition-duration: 0.5s;
}
#post-like-icon {
  margin-left: 15px;
  font-size: 18px;
}
#post-like-amount {
  font-size: 12px;
}
#post-card {
  border-radius: 0;
}
#post-text {
  margin-top: 2%;
}
#home-add-tags {
  margin-top: 2%;
}
#post-button {
  margin-top: 1%;
}
.home-grey-line {
  width: 100%;
  height: 2px;
  margin-top: 2%;
  background-color: #b5b5b5;
}
#profile-form-container {
  margin-top: 8%;
  margin-bottom: 2%;
}
#test-1 {
  background-color: #fcfcfc;
}

#test-3 {
  background-color: #fcfcfc;
}
/* SEARCH  --------------------- */
#search-albums-artist {
  font-size: 14px;
}
#search-albums-body {
  line-height: 6px;
}
#search-albums-results {
  margin-top: -20px;
}
#search-albums-grey {
  width: 55%;
  height: 2px;
  margin-left: 18%;
}
#albums-add-button {
  margin-left: 20px;
}
#search-albums-card {
  padding: 15px 0 5px 20px;
  width: 84%;
  margin: 15px 0 15px 18%;
  line-height: 6px;
}
#albums-search-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 0.75px black;
}
#search-albums {
  width: 75%;
  height: 260px;
  opacity: 0.75;
}
#search-type {
  padding: 2px 4px 2px 4px;
  margin-top: 10px;
}
#search-grey-line {
  width: 55%;
  height: 2px;
  margin-left: 18%;
}
#search-title {
  margin-left: 18%;
  margin-top: 4%;
}
#search-subtitle {
  margin-left: 18%;
}
#search-banner {
  height: 300px;
  background-color: #ffffff;
}
#search-music-form {
  width: 52%;
  margin-top: 2%;
  margin-left: 18%;
  color: white;
}
/* PROFILE  --------------------- */
#profile-followers-pill {
  margin-left: 60%;
  white-space: nowrap;
}
#profile-followers-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#followers-none-container {
  width: 400px;
  text-align: center;
  color: #dddddd;
}
input[type="file"] {
  display: none;
}
#upload-image {
  padding-right: 5px;
  padding-left: 5px;
}
#profile-upload-image {
  margin-top: 20px;
  margin-bottom: -10px;
  padding: 10px 8px 10px 8px;
}
#profile-check-info {
  color: #9e54b7;
}
#profileForm-tags {
  width: 52%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22%;
}
#profileForm-bio {
  width: 52%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
#profile-top {
  margin-top: 15px;
}
#profile-form {
  width: 80%;
  margin-left: 7%;
}
#profile-edit-profile {
  display: block;
  margin-left: 41%;
  margin-top: 4%;
}
#profile-logout-profile {
  display: block;
  margin-left: 41%;
  margin-top: 2%;
  margin-bottom: 50px;
}
#profile-followers-btn {
  padding: 2px 4px;
  margin-top: 5px;
  margin-left: 5px;
}
#profile-tags-items {
  margin-top: 5px;
  margin-left: 4px;
}
#profile-socials {
  padding: 0 10px;
}
#profile-banner {
  background-position: -10% 60%;
  height: 100vh;
}
#profile-side-card {
  width: 60%;
  margin-top: 15%;
  margin-left: 36%;
}
#profile-middle-col {
  background-color: grey;
}
/* First loading is for the feed second is for profile page */
#loading-image {
  width: 250px;
  margin-top: 10%;
}
#loading-image-profile {
  width: 400px;
  margin-top: 10%;
}
/* NAVBAR  --------------------------- */
#navbar-tabs-auth {
  margin-left: 54%;
  color: white;
  font-size: 16px;
}
#navbar-tabs-out {
  margin-left: 70%;
}
#navbar-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 4px;
}
#navbar-logo {
  margin-left: 11%;
}
#navbar-tabs {
  padding: 0 30px 0 30px;
}
#navbar-tabs-user {
  padding: 0 30px 0 30px;
}
/* LOGIN ------------------------ */
#login-form {
  margin-top: 25%;
  display: block;
  padding: 80px;
  box-shadow: 2px 6px 8px 4px rgba(0, 0, 0, 0.2);
}
#login-form-title {
  margin-bottom: 10%;
  text-align: center;
}
#login-form-logo {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  margin-top: -4%;
}
/* REGISTER ------------------------ */
.register-grey-2 {
  margin-top: 5%;
  height: 4px;
  width: 590px;
  background-color: #e2e2e2;
}
#register-icon {
  margin-top: 40%;
  margin-left: 30%;
  color: #848484;
}
#register-icon-2 {
  margin-top: 2%;
  margin-left: 27%;
  color: #848484;
}
#register-icon-3 {
  margin-top: 2%;
  margin-left: 3%;
  color: #848484;
}
#register-subtitle {
  color: #afafaf;
}
.register-grey-line {
  height: 50px;
  width: 4px;
  margin-left: 8px;
  background-color: #e2e2e2;
}
#register-button {
  margin-top: 20px;
}
#register-form {
  width: 80%;
  margin-left: 7%;
}
#register-row {
  margin-top: 2.5%;
}
#register-login {
  margin-top: 2%;
}
/* WELCOME  ---------------------- */
#spotify-logo {
  width: 50px;
  height: 50px;
}
.welcome-grey-line {
  height: 1px;
  background-color: grey;
  width: 76%;
  margin-left: 12%;
}
.welcome-more-info-container {
  margin-left: 5%;
  margin-right: 30%;
  margin-top: 15%;
}
#welcome-more-info {
  text-align: center;
}
#welcome-mockup {
  width: 65%;
  height: 88%;
  margin-left: 20%;
}
#welcome-row {
  height: 600px;
  background-image: url("welcome-background.png");
  background-position: 30% 62%;
}
#welcome-login {
  width: 40%;
  margin-top: 0;
  margin-left: 25%;
  color: black;
}
#welcome-register {
  display: block;
  margin-top: 10%;
}
#welcome-title {
  color: black;
  font-size: 40px;
  margin-left: 25%;
  margin-top: 12%;
}
#welcome-title-login {
  margin-left: 25%;
  margin-top: 6%;
}
#welcome-submit {
  margin-top: 8%;
}
#welcome-cards-1 {
  margin-top: 30px;
  width: 65%;
  height: auto;
  margin-left: auto;
  margin-bottom: 10%;
}
#welcome-cards-3 {
  margin-top: 30px;
  width: 65%;
  height: auto;
  margin-right: auto;
  margin-bottom: 10%;
}
#welcome-cards-2 {
  margin-top: 30px;
  width: 90%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10%;
}
#welcome-grey-2 {
  background-color: #f2f3f4;
  height: 5px;
}

body {
  overflow-x: hidden;
}
